@import url("https://use.typekit.net/efa7ivj.css");
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: macho, sans-serif;
}

body {
  background-color: rgb(12, 124, 16);
  position: relative;
}

nav {
  height: 5%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .nav-btn {
  background-color: rgb(122, 30, 182);
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  border: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  position: relative;
}
nav .nav-btn i {
  font-size: 2rem;
  color: #ddd;
}
nav .nav-dropdown {
  position: absolute;
  left: 20%;
  top: 100%;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 5px;
  background: rgb(122, 30, 182);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}
nav .nav-dropdown a {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-weight: 300;
  color: #ddd;
}
nav .nav-dropdown a:hover {
  background-color: #ddd;
  color: rgb(122, 30, 182);
  font-weight: 600;
  cursor: pointer;
}

#savedContainer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 5%;
}
#savedContainer #savedImgs {
  z-index: 1000;
  background-color: #e4c1fb;
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  cursor: pointer;
  border: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  position: relative;
}
#savedContainer #savedImgs svg .cls-1, #savedContainer #savedImgs svg .cls-2 {
  fill: #1d3050;
}
#savedContainer #savedImgs svg .cls-2, #savedContainer #savedImgs svg .cls-4 {
  stroke: #1d3050;
  stroke-width: 2px;
}
#savedContainer #savedImgs svg .cls-3 {
  stroke: #ed1c24;
  stroke-width: 4px;
}
#savedContainer #savedImgs svg .cls-3, #savedContainer #savedImgs svg .cls-4 {
  fill: none;
}
#savedContainer #savedImgs i {
  font-size: 2rem;
  color: #ed1c24;
}
#savedContainer #likedDropdownList {
  position: absolute;
  top: 110%;
  right: 20%;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 5px;
  background: rgb(122, 30, 182);
  display: none;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
}
#savedContainer #likedDropdownList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #ddd;
}

#galleryTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100vw;
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  color: #ddd;
  margin-bottom: 25vh;
}

#imageGalleryContainer {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
#imageGalleryContainer .slide-img {
  width: 40%;
  height: 30%;
  position: relative;
}
#imageGalleryContainer .slide-img img {
  width: 100%;
  height: 100%;
}
#imageGalleryContainer .slide-img .like-btn {
  transform-origin: center;
  background: none;
  border: none;
  outline: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 5%;
  right: 5%;
}
#imageGalleryContainer .slide-img .like-btn svg {
  transform-origin: center;
  margin: 10% auto auto;
}
#imageGalleryContainer .slide-img .like-btn:active {
  background: rgba(200, 122, 255, 0.8);
  border-radius: 50%;
}
#imageGalleryContainer .slide-img .like-btn:hover {
  animation: pulse 1s reverse infinite;
}/*# sourceMappingURL=styles2.css.map */